# Private key for deployment (without 0x prefix)
PRIVATE_KEY=

# RPC URLs
TAIKO_RPC=https://rpc.mainnet.taiko.xyz
ETH_RPC_URL=

# API Keys for verification
TAIKOSCAN_API_KEY=
ETHERSCAN_API_KEY=

# Deployment addresses (optional)
DEPLOYER_ADDRESS=
